# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Migrations (опционально - можно коммитить)
# */migrations/*.py
# !*/migrations/__init__.py

# Backup
*.bak
*.backup